<mat-card class="publisher-card">
  <mat-card-header>
    <mat-card-title>Издатель</mat-card-title>
    <mat-card-subtitle>Редактирование</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="publisher-form" [formGroup]="publisherFormGroup">
      <mat-form-field class="publisher-full-width" appearance="fill">
        <mat-label>Наименование</mat-label>
        <input matInput placeholder="name" formControlName="nameCtrl">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-fab color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="accent">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-fab color="primary" [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
